<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>404 - Oh no! 😮</h1>
    <p>Looks like you're lost. The page you're looking for doesn't exist.</p>
    <a href="/">Go back to Safety</a>
</body>
</html>